body {
  margin: 0;
  padding: 0;
  background: #000; /* Чёрный фон */
  overflow: hidden;
  height: 100vh;
  cursor: pointer;
}

/* Стили для контейнера с фоном */
.pulse-background {
  position: absolute;
  left: 40%;
  top: -0%;
  width: 110vw; /* Ширина контейнера */
  height: 140vh; /* Высота контейнера */
  background-image: url('./img/new.png'); /* Устанавливаем картинку как фон */
  background-repeat: no-repeat; /* Отключаем повторение фона */
  background-size: 50% 80%; /* Начальный размер фона */
  animation: skewAnimation 5s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
  filter: blur(5px) brightness(1) contrast(1);
}
.pulse-background::after{
  content: '';
  background: linear-gradient(135deg, #00D1FF 0%, #C348FF 51.56%, #FF2E3A 100%);
  position: absolute;
  top:3%;
  right: 65%;
  width:  30vw; 
  height: 400px;
  filter: blur(105px) brightness(1) contrast(0.7);
}
/* Анимация искажения правого края */
@keyframes skewAnimation {
  0% {
    background-size: 50% 80%; /* Начальный размер фона */
  }
  50% {
    background-size: 52% 80%; /* Конечный размер фона */
  }
  100% {
    background-size: 55% 80%; /* Конечный размер фона */
  }
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 10% 10%, rgb(153, 0, 255), rgb(0, 4, 255, 0.4));
  mix-blend-mode: overlay; /* Накладываем эффект */
  animation: gradientFlow1 5s ease-in infinite; /* Увеличиваем время анимации */
  z-index: 2;
}
@keyframes gradientFlow1 {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.8;
  }
  75%{
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
